h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
margin: 0;
}

p {
font-family: "Droid Serif", serif;
}

body {
text-align: center;
margin: 0;
}

#memorygametext {

	font-family: "Raleway", sans-serif;
 	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	color: #0D2C40;
	
}




#instructionsgamelinks{

	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

#instructions{
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;


}

#explaintext{
	font-family: "Droid serif";
	line-height: 26px;
	font-size: 18px;
}

header{

	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;


}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding-top: 20x;
	padding-bottom: 20x;
}

main{
	width: 850px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;

}

/* 



Now let's center the main content of our page. Give main a width of 850px. Add 35px margin to the top and bottom of main and set the left and right margins to auto to center the main section.

Our card images also look like they are spaced a little too tightly. Give each img 40px margin on the top, and 8px margin on the right and left.*/
